
<div class="container">

<div class="calculator-container">
  <div class="class-image"></div>
  <div class="points-label">Aktualny poziom: {{level}}</div>
  <div class="level-button button" (click)=lvl_up()></div>
  <div class="clear-level-button button" (click)=clear_lvl()>Cofnij poziom</div>
  <div class="progress-skill-bar"></div>
  <div class="row1" style="position:absolute; top:50px; left:245px; width:695px; height:500px">
    <div class="row">
      <div class="col-md">
        <div id="skill1" class="skill-button button"></div>
        <div class="skill-box"></div>
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
        <div id="skill2" class="skill-button button"></div>
        <div class="skill-box"></div>
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
        <div id="skill3" class="skill-button button"></div>
        <div class="skill-box"></div>
      </div>
    </div>
  </div>

  <div class="row2" style="position:absolute; top:125px; left:245px; width:695px; height:500px">
    <div class="row">
      <div class="col-md">
      </div>
      <div class="col-md">
        <div id="skill4" class="skill-button button"></div>
        <div class="skill-box"></div>
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
        <div id="skill5" class="skill-button button"></div>
        <div class="skill-box"></div>
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
        <div id="skill6" class="skill-button button"></div>
        <div class="skill-box"></div>
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
    </div>
  </div>

  <div class="row3" style="position:absolute; top:200px; left:245px; width:695px; height:500px">
    <div class="row">
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
        <div id="skill7" class="skill-button button"></div>
        <div class="skill-box"></div>
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
        <div id="skill8" class="skill-button button"></div>
        <div class="skill-box"></div>
      </div>
      <div class="col-md">
      </div>
    </div>
  </div>

  <div class="row4" style="position:absolute; top:275px; left:245px; width:695px; height:500px">
    <div class="row">
      <div class="col-md">
        <div id="skill9" class="skill-button button"></div>
        <div class="skill-box"></div>
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
        <div id="skill10" class="skill-button button"></div>
        <div class="skill-box"></div>
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
        <div id="skill11" class="skill-button button"></div>
        <div class="skill-box"></div>
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
        <div id="skill12" class="skill-button button"></div>
        <div class="skill-box"></div>
      </div>
    </div>
  </div>

  <div class="row5" style="position:absolute; top:350px; left:245px; width:695px; height:500px">
    <div class="row">
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
    </div>
  </div>

  <div class="row6" style="position:absolute; top:425px; left:245px; width:695px; height:500px">
    <div class="row">
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
      <div class="col-md">
      </div>
    </div>
  </div>
</div>

</div>
<router-outlet></router-outlet>
