.dark-mode{
--background: #0c0a11;
--border: #777567;
--text-color: #c29c82;
--blank-text-color: #dab7a0;
--dark-text-color: #aa8065;
--calculator: url("assets/set.png");
--professions: url("assets/profs.jpg");
--skills: url("assets/skills.png");
--box: url("assets/box.png");
--skill-block-border: #f11515;
--skill-avail-border: #ff9b18;
--skill-learn-border: #67ff53;
--gradient-background: linear-gradient(to left, #12091a, #12091a, #12091a);
--contrast-color: #13151b;
}

.light-mode{
--text-color: #6e8d76;
--background-color-td: #EBDBD7;
--calculator: linear-gradient(to left, #500e27, #3a0a1c, #360a1b);
--background-color-th: #E4B3AD;
--contrast-color: #3e4e4a;
}


html {
  height: 100%;
  width: 100%;
}

body {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background-image: var(--gradient-background);
  font-family: Linbiolinum;
  transition: all .5s ease;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@font-face {
  font-family: Linbiolinum;
  src: url(assets/linbiolinum_sansserif.ttf);
}

.container {
  display:flow-root;
  align-items: center;
  justify-content: center;
}

.calculator-container {
  margin-top: 5%;
  margin-left: 10%;
  width: 960px;
  height: 554px;
  justify-items: center;
  background-position: 0 -637px;
  position: relative;
  border: solid var(--border);
  background-repeat: no-repeat;
  background-image: var(--calculator);
}

.class-image {
  position: relative;
  top: 20px;
  left: 19px;
  width: 202px;
  height: 320px;
  /* background-position: -200px -1891px; */
  /* background-image: var(--calculator); */
  background-position: -200px -350px;
  background-size: 600% 210%;
  background-image: var(--professions);
}

.points-label {
  position: relative;
  left: 0px;
  top: 191px;
  width: 157px;
  height: 22px;
  word-spacing: -1px;
  color: var(--text-color);
  font-family: Linbiolinum;
  text-align: center;

  animation: points-label-animation .75s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  -webkit-user-select: none;
}

@keyframes points-label-animation {
  0% { color: var(--blank-text-color); }
  100% { color: var(--dark-text-color); }
}

.button {
  cursor: pointer;
  position: absolute;
  display: block;
}

.level-button {
  left: 155px;
  top: 502px;
  z-index: 1;
  width: 40px;
  height: 40px;
  background-size: 1150% 2300%;
  /* background-image: var(--calculator);
  background-position: -2425px -1119px; */
  background-image: var(--skills);
  background-position: -415.5px -464.5px;
}

.clear-level-button {
  left: 25px;
  top: 420px;
  width: 200px;
  height: 44px;
  font-size: 20px;
  font-family: Linbiolinum;
  overflow-wrap: break-word;
  background-position: -1961px -4044px;
  word-spacing: 1px;
  line-height: 45px;
  color: var(--text-color);
  font-family: Linbiolinum;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  background-image: var(--calculator);
}

.progress-skill-bar {
  position: absolute;
  left: 187px;
  top: 514px;
  background-position: -960px -930px;
  height: 16px;
  width: var(--progress-skill-bar-width);
  background-image: var(--calculator);
}


.toggle {
position: fixed;
top: 2%;
left: 5%;
outline: none;
border: 0;
cursor: pointer;
padding: 15px 15px;
border-radius: 10px;
color: var(--color);
font-size: 1.5vw;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: var(--background-color-td);
transition: all .5s ease;
}

.btn:focus {
outline: none;
box-shadow: none;
}

.skill-box {
  position: absolute;
  z-index: 0;
  width: 40px;
  height: 40px;
  background-image: var(--box);
  background-size: 104% 145%;
  background-position: -126px -177px;
}

.skill-button {
  z-index: 1;
  width: 40px;
  height: 40px;
  background-size: 1150% 2300%;
  background-image: var(--skills);
  background-position: -439px -443px;
  border: 1px solid var(--skill-learn-border);
}

#skill1.skill-button {
  background-position: -135px -265px;
  border: 1px solid var(--skill-avail-border);
}
#skill2.skill-button {
  background-position: -180px -265px;
  border: 1px solid var(--skill-avail-border);
}
#skill3.skill-button {
  background-position: -439px -443px;
  border: 1px solid var(--skill-avail-border);
}

#skill4.skill-button {
  background-position: -221px -265px;
  border: 1px solid var(--skill-block-border);
}
#skill5.skill-button {
  background-position: -353px -530px;
  border: 1px solid var(--skill-block-border);
}
#skill6.skill-button {
  background-position: -47px -790px;
  border: 1px solid var(--skill-block-border);
}

#skill7.skill-button {
  background-position: 212px 172px;
  border: 1px solid var(--skill-block-border);
}
#skill8.skill-button {
  background-position: 214px 652px;
  border: 1px solid var(--skill-block-border);
}

#skill9.skill-button {
  background-position: 1px 1px;
  border: 1px solid var(--skill-learn-border);
}
#skill10.skill-button {
  background-position: 392px 869px;
  border: 1px solid var(--skill-learn-border);
}
#skill11.skill-button {
  background-position: 218px 128px;
  border: 1px solid var(--skill-avail-border);
}
#skill12.skill-button {
  background-position: 305px 171px;
  border: 1px solid var(--skill-block-border);
}
